* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

main {
    background-color: $bg-color;
    color: $font-color;
    padding: $spacing 0;
}

.container {
    max-width: 920px;
    width: 100%;
    margin: auto;
}


