#main_section {
    flex-grow: 1;
    display: flex;
    background-color: rgba(255, 239, 239, .6);
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(143, 109, 109, 0.4);
}

/*  LEFT SECTION */

/* ********************************  */


.left_menu {
    max-width: 25%;
    width: 400px;
    background-color: rgba(255, 239, 239, .4);
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding: 20px;

    ul {
        list-style: none;
    }
    
    ul li a {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;

        text-decoration: none;
    }
    
}

.selected_menu {
    color: rgb(255, 245, 242);
    background-color: rgb(255, 191, 166);
}

.logo_img {
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
}



/*  RIGHT SECTION */

/* ********************************  */

.albums_section {
    flex-grow: 1;
    padding: 40px 40px 0;
    display: flex;
    flex-direction: column;
}

.top_nav {
    display: flex;
    align-items: center;
}

.search_bar {
    flex-grow: 1;
}

.fas, .far {
    font-size: 1rem;
}

.fa-bell {
    margin-right: 10px;
}

.search_bar {
    border: 0;
    padding: 10px;
    background-color: transparent;
    outline: none;
    font-size: .8rem;
    margin-left: 5px;
}

.profile_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/*  Album */

.bottom_section {

    overflow: auto;

    .albums_container {
        display: flex;
        flex-wrap: wrap;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    .album {
        margin-bottom: 20px;
        padding: 0 5px;

        h3, h4 {
            margin: 0;
        }

        h3 {
            margin-top: 15px;
            font-size: .85rem;
        }
        h4 {
            font-size: .70rem;
            color: rgb(245, 165, 133);
        }

        img {
            width: 100%;
            height: 100%;
            max-height: 180px;
            // min-height: 120px;
            max-width: 200px;
            border-radius: 15px;
            box-shadow: 2px 5px 15px rgba(196, 145, 145, 0.6);
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(255, 255, 255, .4);
            opacity: 0;
            border-radius: 15px;

            .fas {
                font-size: 3rem;
                color: rgb(252, 161, 125);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .overlay:hover {
            opacity: 1;
        }
        
        .date {
            font-size: .1rem;
            color: rgb(194, 184, 180);
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
    
    .cover_link {
        display: inline-block;
        position: relative;
    }
    
  
    
  
    


}